@using ReHouse.Utils.Helpers
@using ReHouse.Utils.DataBase.AdvertParams;
@model List<Builder>
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "builders")

<div id="adminka2" class="tabset_content">
    <div class="headline">
        <h2>Добавленные застройщики</h2>
        <form method="LINK" action="/cabinet/builders/add">
            <button>Добавить застройщика ►</button>
        </form>
    </div>

    @if (!ViewBag.NoElements)
    {

        <div class="added">
            <button onclick="deleteChekedProducts();" class="delete_all">Удалить выбранные</button>
            <table class="added" id="data-container">
                @Html.Partial("Builder/_listOfBuilders", Model)
            </table>
        </div>
        <div>
            <div class="products1">
                <div id="button-more">
                    <a id="more">Больше застройщиков</a>
                </div>
            </div>
        </div>
        <div id="loading-div">

        </div>
    }

</div>
@section scripts {
    @Scripts.Render("~/bundles/deleteBuilders")

    <script>
        var url = "/cabinet/builders/load";
        $('#button-more').click(function () {

            var obj = {
        }

            lazyload(obj, url, false);
        });       
    </script>

}