<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 0000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 0000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 0000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
<div class="data-item">
    <li>
        <div class="redimg"><img src="~/Content/images/redcorner.png"></div>
        <a href="#"><img src="~/Content/images/prod1.jpg" alt="" /></a>
        <div class="min-content">
            <h3>1-к квартира</h3>
            <h4>Lorem ipsum dolor sitddddddddddddddddddddddddddddddddddddddddddddddddddddddxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxd amet eter vestibulum eget nunc. </h4>
            <p class="cost">35 000 $</p>
            <a href="#" id="follow">❯</a>
        </div>
    </li>
</div>
