
<div class="row-one bonuses">

    <div class="row bonuses-row">
        <div class="table-holder">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>Сумма бонуса</th>
                    <th>Действителен до</th>

                </tr>
                </thead>
                <tbody>
                <tr>

                    <td>0</td>
                    <td>-</td>
                </tr>
                <tr class="has-bonus">

                    <td>200 грн</td>
                    <td>@DateTime.Today.Year.@DateTime.Today.Month.@DateTime.Today.Day</td>
                </tr>


                </tbody>
            </table>
        </div>


    </div>
    <div class="bonuses-info">
        <p>
            Бонусы Начисляются за каждую покуупку, независимо
            от суммы!
        </p>
        <p>   С их помощью можно оплатить будущие приобретения. </p>

    </div>
    
   
</div>


