@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
<div id="adminka1" class="tabset_content tabset_content_active">
    <h2 class="tabset_label">adminka</h2>

    <div class="photo_of_manager">

        <img src="~/Content/images/www.jpg" width="150" height="150">
        <form enctype="multipart/form-data" action="№" method="POST">
            <div class="file_upload">
                <input name="f" type="file">
            </div>
            <input type="submit" value="Сменить фото">
        </form>
    </div>
    <div class="contact_info">
        <table>
            <tr>
                <td>Имя:</td>
                <td>Светлана Полякова</td>
                <td><button>Редактировать</button></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>rehouse@gmail.com</td>
                <td><button>Редактировать</button></td>
            </tr>
            <tr>
                <td>Контакты:</td>
                <td>00380990000000</td>
                <td><button>Редактировать</button></td>
            </tr>
            <tr>
                <td>VK</td>
                <td>oooooooooooo</td>
                <td><button>Редактировать</button></td>
            </tr>
            <tr>
                <td>FB</td>
                <td>oooooooooo</td>
                <td><button>Редактировать</button></td>
        </table>
    </div>
</div>
