<div id="pagecontent">

    <div class="list_">
        <h2 class="tabset_label">Table of Contents</h2>
        <ul class="tabset_tabs">
            <li class="firstchild"><a href="#adminka1" class="preActive active">My Profile</a></li>
            <li><a class="1" href="#adminka2">Продажа</a></li>
            <li><a class="2" href="#adminka3">Аренда</a></li>
            <li><a class="3" href="#adminka4">Новостройки</a></li>
            <li><a class="4" href="#adminka5">Новости</a></li>
            <li><a class="5" href="#adminka6">Adminka</a></li>
            <li><a class="6" href="#adminka7">Adminka</a></li>
            <li><a class="7" href="#adminka8">Adminka</a></li>
        </ul>
    </div>


    <div id="adminka1" class="tabset_content tabset_content_active">
        <h2 class="tabset_label">adminka</h2>

        <div class="photo_of_manager">

            <img src="images/www.jpg" width="150" height="150">
            <form enctype="multipart/form-data" action="№" method="POST">
                <div class="file_upload">
                    <input name="f" type="file">
                </div>
                <input type="submit" value="Сменить фото">
            </form>
        </div>
        <div class="contact_info">
            <table>
                <tr>
                    <td>Имя:</td>
                    <td>Светлана Полякова</td>
                    <td><button>Редактировать</button></td>
                </tr>
                <tr>
                    <td>Email:</td>
                    <td>rehouse@gmail.com</td>
                    <td><button>Редактировать</button></td>
                </tr>
                <tr>
                    <td>Контакты:</td>
                    <td>00380990000000</td>
                    <td><button>Редактировать</button></td>
                </tr>
                <tr>
                    <td>VK</td>
                    <td>oooooooooooo</td>
                    <td><button>Редактировать</button></td>
                </tr>
                <tr>
                    <td>FB</td>
                    <td>oooooooooo</td>
                    <td><button>Редактировать</button></td>
            </table>
        </div>
    </div>

</div>