@using ReHouse.Utils.DataBase.Feedback
@model UserEmailMessage

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Обратный звонок", "index", "email")
    </div>
</div>
<div class="managers">
    <h2>Свяжитесь с нами, заполнив форму ниже</h2>

    <div class="form">        
        @Html.Partial("Partial/_emailPartial", Model)
    </div>
</div>
