@using ReHouse.Utils.DataBase.Security;
@model List<Role>
@{
    ViewBag.Title = "Roles";
}

@{ 
    if(Model != null)
    {
        foreach(var role in Model)
        {
            <div>@role.RussianName</div>
            <br />
        }
    }
}