@using ReHouse.Utils.DataBase.Vacancies
@model List<Vacancy>

</div>
<div class="navigation_string">
    <div class="container">
        <div class="way">
            <a href="/">Главная</a>
            <pre> </pre>
            <a>/</a>
            <pre> </pre>
            <a href="/vacancy/">Вакансии агенства</a>
        </div>
    </div>
</div>
<div class="container">
    
    <div class="about_company">
        <div class="h2novostroy"><h2><span>Наши</span> вакансии</h2></div>

        @Html.Partial("Vacancy/_listOfVacancies", Model)

    </div>
