/*@media(max-width:1499px) and (min-width:769px) {
    .tags {
    }
.news .content1 a.intext {
    padding: 0;
    border-radius: none;
    background: none;
    border: none;
    color: #ffd700;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
    .news .content1 a.intext:hover {
        color: #ffd700;
    border-bottom: 1px solid #ffd700;
    }
    .your_name {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        color: #fff;
        font-family: Casper;
        font-size: 12px;
        margin-left: 107px;
        margin-top: 39px;
    }

    .container {
        width: 1100px;
        margin: auto;
    }

    .header {
        width: 1100px;
    }

    .form-search input {
        width: 313px;
        margin-left: 40px;
        margin-right: 0;
    }

    .form-search {
        margin-left: -60px;
    }

    .contactinfo .tel {
        margin-left: 0;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
        font-size: 15px;
        font-family: arial;
    }

    .contactinfo .social {
        margin-left: 28px;
        margin-bottom: 15px;
    }

    .logo a img {
        width: 300px;
    }

    .logo {
        margin-left: 0;
    }

    .header .feedback {
        position: absolute;
        left: 878px;
    }

    .navigation > ol {
        margin-left: 75px;
    }

    #nav {
        min-width: 1100px;
    }

        #nav .sell {
            margin-left: 0;
            margin-top: 0;
            position: absolute;
            top: 33px;
            left: 928px;
        }

    #slidebox {
        width: 1100px !important;
    }

        #slidebox, #slidebox .listofimg {
            width: 1100px;
            height: 278px;
        }

            #slidebox .textinslider {
                min-width: 110px;
            }

            #slidebox .thumbs {
                bottom: 5px;
                left: 512.5px;
            }

            #slidebox ul.listofimg li img {
                width: 1100px;
                height: 278px;
            }

            #slidebox .next, #slidebox .previous {
                top: 119px;
            }

    .d-carousel {
        margin-left: -20px;
    }

    .streak {
        width: 1100px;
        margin-left: 0;
    }

    .news {
        width: 1100px;
    }

        .news .firstnews, .secondnews {
            width: 1100px;
            margin-left: 0;
        }

        .news .morenews #more {
            margin-left: 25px;
        }

    .footer .social {
        margin-left: 130px;
    }

    .news .morenews {
        margin-bottom: 40px;
    }

    .news .img img {
        width: 370px !important;
        height: 300px;
    }

    .h2novostroy h2 {
        margin-left: 21px;
    }

    .selection {
        margin-left: 21px;
    }

    .sorting form {
        margin-top: 30px;
        margin-left: 20px;
    }

    .products {
        margin-left: 21px;
    }

    .seotext, .seotext2, .seotext3 {
        margin-left: 22px;
        margin-bottom: 35px;
    }

    .news h2 {
        margin-left: 22px;
    }

    .selection1 {
        margin-left: 21px;
    }

    #products_example {
        width: 1100px;
        height: 600px;
        position: relative;
        margin-left: 0;
        margin-top: 28px;
    }

    .h2novostroy #favorite {
        width: 376px;
        padding: 10px 27px 10px 27px;
    }

    .h2novostroy .favorite {
        left: 793px;
    }

    .h2novostroy .favorite1 {
        left: 875px;
    }

    .share_icons {
        margin-left: 24px;
    }

    .table_of_prodapart table {
        margin-left: 22px;
    }

    #mapapart_prod iframe {
        margin-left: 22px;
    }

    .map_managercard .manager {
        margin-left: 24px;
    }

    .h2prodsale h2 {
        margin-left: 22px;
    }

    .othernovostroy {
        margin-top: 29px;
        margin-left: 22px;
        margin-bottom: 36px;
    }

    .navigation_string {
        min-width: 1100px;
    }

    .planirovka {
        width: 1055px;
        margin-left: 22px;
    }

    .table_of_prod table {
        margin-left: 22px;
    }

    #mapnovostroy_prod iframe {
        margin-left: 22px;
    }

    .managers .manager_ {
        margin-left: 22px;
        width: 1100px;
    }

    .managers h2 {
        margin-left: 22px;
    }

    .managers .img {
        margin-left: 0;
    }

    #application, #emailForm {
        margin-bottom: 135px;
        margin-left: 330px;
    }

    .about_company {
        margin-left: 0;
        width: 1100px;
    }

    .photo_company {
        margin-left: 139.5px;
    }

    #map_company {
        margin-left: 0;
    }

    .about_company1 {
        margin-left: 0;
    }

    .map_website ol {
        margin-left: 22px;
    }

    .news1 .morenews1 #more {
        margin-left: 22px;
    }

    .news1 h2 {
        margin-left: 22px;
    }

    .news .morenews1 #more {
        margin-left: 22px;
    }

    .news .content1 a#more, .content2 a#more {
        margin-left: 65px;
    }
}
*/
@media(max-width:768px) {
    #sliderFrame {
    display:none;
}
    .h2novostroy .favorite {
        position: absolute;
        top: 37px;
        left: 546px;
        width: 195px;
    }

    .h2novostroy #favorite {
        padding: 3px 15px 3px 15px;
        border-radius: 6px;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        font-family: "Century Gothic";
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        font-size: 14px;
        font-weight: 700;
        text-decoration: none;
    }

    #fav2 {
        display: none;
    }

    .h2novostroy .favorite1 {
        position: absolute;
        top: 71px;
        left: 603px;
        width: 137px;
    }

    .news .content1 a#more, .content2 a#more {
        margin-left: 0;
    }

    .container {
        width: 768px;
    }

    .header, #nav {
        display: none;
    }

    .header_mobile {
        display: block;
        margin: auto;
    }

        .header_mobile .header {
            display: flex;
        }

    body {
    }

    body {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    #slidebox {
        display: none;
    }

    .navigation_string {
        display: none;
    }

    #application, #emailForm {
        width: 462px;
        margin-bottom: 63px;
        margin-left: 152px;
    }

    .logo a img {
        width: 144px;
    }

    .hidden-menu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 40%;
        background-color: #eee;
        top: 0;
        left: -100%;
        transition: left .2s;
        z-index: 10003;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        text-align: center;
        background-color: rgba(204,191,97,.9);
    }

        .hidden-menu a {
            display: block;
            text-decoration: none;
            color: #114a82;
            font-family: ProximaNova;
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0 7px 0;
        }

            .hidden-menu a:hover {
                background-color: rgba(3,2,2,.6);
                -webkit-transition: .3s ease;
                transition: .3s ease;
                color: #fff;
            }

        .hidden-menu .bgh {
            background-color: rgba(3,2,2,.3);
        }

        .hidden-menu a.bold {
            font-weight: 900;
            color: #0e2447;
        }

    .hidden-menu-ticker {
        display: none;
    }

    .btn-menu {
        color: #fff;
        padding: 5px;
        position: fixed;
        top: 12px;
        left: 25px;
        cursor: pointer;
        transition: left .23s;
        z-index: 10004;
        width: 25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

        .btn-menu span {
            display: block;
            height: 5px;
            background-color: #fff;
            margin: 5px 0 0;
            transition: all .1s linear .23s;
            position: relative;
        }

            .btn-menu span.first {
                margin-top: 0;
            }

    .hidden-menu-ticker:checked ~ .btn-menu {
        left: 33%;
    }

    .hidden-menu-ticker:checked ~ .hidden-menu {
        left: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }

    .header_mobile {
        width: 768px;
    }

    .header {
        max-width: 768px;
        width: 100%;
        height: 100px;
    }

    .header_mobile .header .contactinfo #fav1 {
        position: relative;
        width: 27px;
        height: 26px;
        border: none;
        background-color: none;
        padding: none;
        background-image: url('images/heart.png');
        background-repeat: no-repeat;
    }

    .header_mobile .header .contactinfo #blink1 {
        position: relative;
        width: 27px;
        height: 26px;
        border: none;
        background-color: none;
        padding: none;
        background-image: url('images/feedback.png');
        background-repeat: no-repeat;
    }

    .header_mobile .header .contactinfo {
        margin: 0;
    }

        .header_mobile .header .contactinfo .feedback {
            display: flex;
            flex-direction: row;
            width: 70px;
            justify-content: space-between;
            margin-top: 16px;
            margin-left: 192px;
        }

    .search {
        text-align: center;
    }

    .form-search {
        padding-bottom: 15px;
    }

        .form-search input {
            width: 460px;
        }

    .header_mobile .header .logo {
        margin-left: 40.5%;
        margin-top: 1px;
    }

    .header_mobile .header .contactinfo .tel {
        display: flex;
        flex-direction: row;
        margin-top: 5px;
        margin-left: 108px;
        font-size: 15px;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    .d-carousel {
        margin-left: 1px;
    }

        .d-carousel .jcarousel-container-horizontal {
                width: 395px;
                height: 439px;
            padding: 0 45px;
            margin: auto;
            margin-bottom: 30px;           
        }

        .d-carousel #more {
              display: block;
                width: 390px;
                padding: 6px 0px 6px 0px;
                text-decoration: none;
                color: #ffffff;
                font-family: "ProximaNova";
                font-size: 20px;
                font-weight: 700;
                line-height: 34px;
                text-transform: uppercase;
                text-align: center;
                background-color: #114a82;
                letter-spacing: 1.5px;
                margin-left:0;
                margin:auto;
        }

            .d-carousel #more:hover {
                -webkit-transition: .8s ease;
                transition: .8s ease;
                background-color: #f9a320;
                color: #114a82;
}

        .d-carousel a#more {
            padding-top: 7px;
        }

        .d-carousel h2 {
            text-align: center;
        }
        .d-carousel .jcarousel-prev-horizontal {
            top: 215px;
            right: 451px;
}
        .d-carousel .jcarousel-next-horizontal {
            top: 215px;
}
.form-search {
    background-color: #114a82;
}
#testimonials1 {
    background-image: url(/Content/images/comment.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 376px;
    margin-top: 70px;
    width: 100%;
    position: absolute;
    /* margin-left: -10%; */
    left: 0;
    min-width: 768px;
    width: 100%;
}
.inner-testimonial {
    width: 768px;
    text-align: center;
}
.inner-testimonial p.text-testimonial {
    width: 415px;
    margin: auto;
    margin-bottom: 182px;
    line-height: 24px;
}
.inner-testimonial img {
    margin-bottom: 5px;
}
.inner-testimonial .client {
    margin-bottom: 8px;
}
.thumbs {
    top: 336px;
    left: 342px;
}

.news {
    width: 768px;
    display: flex;
    flex-direction: column;
    background-color: #f3f3f9;
    justify-content: space-around;
    margin-top: -137px;
    position: static;
}
.news .content1, .content2 {
    margin-top:30px;
    margin: auto;
}
.morenews {
    margin-top: 5px;
    margin-bottom: 40px;
}
#partners {
    width: 768px!important;
    height: 110px;
    margin-bottom: 100px;
}
.wrapper-footer {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: column;
    justify-content: space-between;
    background-color: #114a82;
    margin: 0 auto;
}  
.inner-testimonial .client .information {
    width: 34%;
    text-align: left;
}
.contactinfo .number {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top:7px;
}           
.contactinfo .number div p {
    font-family: "ProximaNova";
    font-size: 19px;
    font-weight: 700;
}
.contactinfo .number div {
    margin-top:10px;
}
.news12 {
    width: 768px;
    background-color: #f3f3f9;
}
.news123 .content1 {
    margin-top: 30px;
    margin-bottom: 80px;
    max-width: 768px;
}
.news123 .content1 p {
    color: #114a82;
    font-family: "ProximaNova";
    font-size: 21px;
    font-weight: 600;
    line-height: 23px;
    text-align: left;
}       

  












    

    .footer {
        height: 52px;
        display: flex;
        flex-direction: column;
        width: 718px;
        margin-left: 0;
        margin-top: 0;
    }

        .footer .social {
            width: 200px;
            margin:auto;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-top:30px;
        }

        .footer .bottomnav {
            display: flex;
            flex-direction: column;
            width: 547px;
            justify-content: space-between;
            margin:auto;
            margin-top: 30px;
            text-align: center;
        }

            .footer .bottomnav a {
                font-size: 24px;
                margin-bottom: 20px;
                display: block;
            }

    #toTop {
        bottom: 10px;
        right: 1px;
    }

    .none {
        display: none;
    }

    .search1 {
        display: none;
    }

    .h2novostroy h2 {
        margin-left: 0;
        margin-top: 30px;
    }

    .h2novostroy {
        text-align: center;
        display: block;
    }

    .selection {
        margin-left: 0;
        flex-direction: column;
        text-align: center;
        width: 768px;
        margin-bottom: 60px;
    }

        .selection select {
            width: 400px;
            margin-bottom: 12px;
        }

    .selection1 {
        margin-left: 0;
        flex-direction: column;
        text-align: center;
        width: 768px;
        margin-bottom: 60px;
    }

        .selection1 select {
            width: 400px;
            margin-bottom: 12px;
        }

    .search-button {
        width: 768px;
        text-align: center;
    }

    .seotext2 {
        width: 730px;
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 54px;
        padding: 0 19px 0 19px;
    }

    .sorting {
        text-align: center;
        width: 768px;
    }

        .sorting form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: -20px;
            margin-left: 0;
            margin-bottom: 5px;
            width: 768px;
        }

            .sorting form a {
                width: 400px;
                margin-left: 184px;
            }

    .products {
        margin-left: 0;
    }

        .products .prods {
            width: 390px;
            margin:auto;
        }

        .products #more {
            display: block;
                width: 400px;
                padding: 6px 0px 6px 0px;
                text-decoration: none;
                color: #ffffff;
                font-family: "ProximaNova";
                font-size: 20px;
                font-weight: 700;
                line-height: 34px;
                text-transform: uppercase;
                text-align: center;
                background-color: #114a82;
                letter-spacing: 1.5px;
                margin-left:0;
                margin:auto;
        }

    #mapnovostroy {
        display: none;
    }

    #mapnovostroy1 {
        display: block;
        margin-left: 39px;
        margin-top: 25px;
    }

    .seotext {
        width: 768px;
        margin-left: 0;
        margin-top: 35px;
        margin-bottom: 0px;
        text-align: center;
    }

        .seotext p {
            width: 730px;
        }

    #products_example {
        display: none;
    }

    .table_of_prod table {
        width: 758px;
        margin-left: 5px;
    }

        .table_of_prod table tr td {
            padding: 6px 45px 6px 22px;
        }

    .planirovka {
        width: 522px;
        margin-left: 125px;
        margin-top: 29px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    #mapnovostroy_prod {
        display: none;
    }

    #mapnovostroy1 {
        margin-bottom: 70px;
    }

    .othernovostroy {
        display: block;
    }

    .share_icons {
        width: 135px;
        margin-left: 0px;
        justify-content:space-around;
    }

    .seotext3 {
        width: 685px;
        margin-left: 0px;
    }

    .h2sale {
        margin-top: 10px;
    }

    .print {
        display: none;
    }

    .table_of_prodapart table {
        margin-left: 9px;
    }

    #mapapart_prod {
        display: none;
    }

    .map_managercard .manager {
        display: flex;
        width: 422px;
        margin-left: 38px;
    }

    #mapnovostroy1 {
        margin-bottom: 60px;
    }

        #mapnovostroy1 iframe {
            width: 700px;
            height: 350px;
        }

    .streak {
        width: 768px;
        margin-left: 0;
        min-width:768px;
    }

    .selection ._cost select {
        width: 190px;
    }

    .selection ._cost {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 184px;
        margin-bottom: 12px;
    }
._cost div input {
    width: 179px;
}
.wrapper-prod {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    margin-top: 59px;
}
.bgh a:hover {
    color:#fff;
}
.about_company p {
    font-size: 20px;
    line-height:24px;
}
.about_company .call_us p {
    font-size: 22px;
}






    #map_company {
        display: none;
    }

    .about_company {
        margin-left: 10px;
        width: 748px;
    }

        .about_company h2 {
            text-align: center;
        }

    .photo_company {
        width: 768px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .adress {
        display: flex;
        flex-direction: row;
        width: 700px;
        justify-content: space-between;
        margin-left: 30px;
    }

    .about_company1 {
        margin-left: 10px;
    }

    .form_comment {
        margin-left: 140px;
    }

    .news1 {
        width: 768px;
    }

        .news1 h2 {
            margin-left: 0;
            text-align: center;
        }

        .news1 .firstnews {
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 0;
            text-align: center;
            width: 500px;
            border: none;
        }

        .news1 .comment1 {
            width: 748px;
            text-align: justify;
            vertical-align: top;
            margin-left: 10px;
        }

        .news1 h3 {
            font-size: 19px;
        }

        .news1 h4 {
            font-size: 18px;
        }

        .news1 p {
            line-height: 20px;
            font-size: 17px;
        }
    .othernovostroy .prods {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: 1100px;
        width: 545px;
        margin-left: 128px;
    }

    .othernovostroy {
        margin-top: 29px;
        margin-left: 0;
        margin-bottom: 36px;
    }

    .favprod {
        height: cover;
    }

    .managers {
        width: 768px;
        margin-bottom: 68px;
    }

        .managers h2 {
            margin-left: -11px;
            text-align: center;
        }

    #application {
        margin-left: 153px;
        margin-bottom: 90px;
    }

    .managers .manager_ {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 0;
        text-align: center;
        width: 768px;
    }

    .manager_ {
        display: flex;
        flex-direction: column;
    }

    .managers .img {
        margin-left: 0;
    }

    .managers .contactinfo h3 {
        text-align: center;
    }

    .managers .about_manager {
        width: 748px;
        margin-left: 10px;
    }

    .managers p {
        line-height: 20px;
        font-size: 18px;
    }

    .managers .contactinfo h3 {
        font-size: 18px;
    }

    .contactinfo {
        margin-left: 214px;
    }

    .news .morenews1 #more {
        display: block;
        max-width: 700px;
        height: 25px;
        padding: 0;
        border-radius: 10px;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        font-family: "Century Gothic";
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        margin-left: 56px;
    }

    .news .content1 .share_icons1 a {
        padding: 0;
        border: none;
    }

        .news .content1 .share_icons1 a:hover {
            opacity: 1;
            color: none;
            background-image: none;
        }

    .footer .social {
        margin-top: 0px;
        margin: auto;
    }

    .news .firstnews {
       margin-bottom: 30px;
        margin-top: 30px;
}

    .map_website ol {
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .map_website a {
        font-size: 25px;
        line-height: 35px;
    }

    #button-more {
        width: 450px;
        margin: auto;
        margin-bottom: 40px;
    }

    .d-carousel h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        margin-left: 0px;
    }

 #testimonials {
    margin-top: 70px;
}
 #testimonials {
    margin-bottom: 60px;
}
.news .content1 a.intext {
    padding: 0;
    border-radius: none;
    background: none;
    border: none;
    color: #ffd700;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

    .news .content1 a.intext:hover {
        color: #ffd700;
    border-bottom: 1px solid #ffd700;
    }
.seotext3 p {
    font-size: 17px;
    line-height: 27px;
}
.table_of_prodapart table {
    font-size: 17px;
    line-height: 22px;
    width: 420px;
}
.wrapper-prod .right .fav-wrap {
    justify-content: space-around;
}
.selection1 ._cost {
    display: flex;
    flex-direction: row;
    width: 400px;
    justify-content: space-between;
    /* margin-bottom: 12px; */
    margin: auto;
    margin-bottom: 12px;
}
#partners ul li {
    width: 183px!important;
    padding: 0 7px;
    float: none!important;
    overflow: visible!important;
}
.sorting {
    margin-top: 45px;
}



}















@media(max-width:480px) {
    .tags {
    }
.news .content1 a.intext {
    padding: 0;
    border-radius: none;
    background: none;
    border: none;
    color: #ffd700;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

    .news .content1 a.intext:hover {
        color: #ffd700;
    border-bottom: 1px solid #ffd700;
    }

    .container {
        width: 480px;
    }

    #slidebox {
        display: none;
    }

    .header_mobile {
        display: block;
        margin: auto;
    }

    body {
        background-color: #0a2a5d;
        background-image: none;
    }

    body {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .hidden-menu {
        display: block;
        position: fixed;
        list-style: none;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
        width: 80%;
        background-color: #eee;
        top: 0;
        left: -100%;
        transition: left .2s;
        z-index: 10003;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
        text-align: center;
        background-color: rgba(204,191,97,.9);
    }

        .hidden-menu a {
            display: block;
            text-decoration: none;
            color: #1d3960;
            font-family: "Casper";
            font-weight: 600;
            font-size: 18px;
            text-transform: uppercase;
            width: 100%;
            padding: 10px 0 7px 0;
        }

            .hidden-menu a:hover {
                background-color: rgba(3,2,2,.6);
                -webkit-transition: .3s ease;
                transition: .3s ease;
                color: #fff;
            }

        .hidden-menu .bgh {
            background-color: rgba(3,2,2,.3);
        }

        .hidden-menu a.bold {
            font-weight: 900;
            color: #0e2447;
        }

    .logo a img {
        width: 135px;
    }

    .hidden-menu-ticker {
        display: none;
    }

    .btn-menu {
        color: #fff;
        padding: 5px;
        position: fixed;
        top: 12px;
        left: 25px;
        cursor: pointer;
        transition: left .33s;
        z-index: 10004;
        width: 25px;
        -webkit-transform: translateZ(0);
        -webkit-backface-visibility: hidden;
    }

        .btn-menu span {
            display: block;
            height: 5px;
            background-color: #fff;
            margin: 5px 0 0;
            transition: all .1s linear .23s;
            position: relative;
        }

            .btn-menu span.first {
                margin-top: 0;
            }

    .hidden-menu-ticker:checked ~ .btn-menu {
        left: 70%;
    }

    .hidden-menu-ticker:checked ~ .hidden-menu {
        left: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.first {
        -webkit-transform: rotate(45deg);
        top: 10px;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.second {
        opacity: 0;
    }

    .hidden-menu-ticker:checked ~ .btn-menu span.third {
        -webkit-transform: rotate(-45deg);
        top: -10px;
    }

    .header_mobile {
        width: 480px;
    }

    .header {
        width: 480px;
        height: 100px;
        background-color: #0a2a5d;
    }

    .header_mobile .header .contactinfo #fav1 {
        position: relative;
        width: 27px;
        height: 26px;
        border: none;
        background-color: none;
        padding: none;
        background-image: url('images/heart.png');
        background-repeat: no-repeat;
    }

    .header_mobile .header .contactinfo #blink1 {
        position: relative;
        width: 27px;
        height: 26px;
        border: none;
        background-color: none;
        padding: none;
        background-image: url('images/feedback.png');
        background-repeat: no-repeat;
    }

    .header_mobile .header .contactinfo {
        margin: 0;
    }

        .header_mobile .header .contactinfo .feedback {
            display: flex;
            flex-direction: row;
            width: 70px;
            justify-content: space-between;
            margin-top: 14px;
            margin-left: 86px;
        }

    .search {
        text-align: center;
    }

    .form-search {
        margin-left: 0;
        margin-right: 0;
    }

        .form-search input {
            width: 400px;
        }

    .header_mobile .header .logo {
        margin-top: 5px;
        margin-left: 36.5%;
    }

    .header_mobile .header .contactinfo .tel {
        display: flex;
        flex-direction: row;
        margin-left: 2px;
        margin-top: 11px;
        font-size: 15px;
    }

    .d-carousel {
        margin-left: 1px;
    }

        .d-carousel .jcarousel-container-horizontal {
            width: 255px;
            height: 353px;
            padding: 0 45px;
            margin-bottom: 25px;
            margin-left: 13%;
        }

        .d-carousel h2 {
            margin-left: 0;
        }

        .d-carousel #more {
            display: block;
            width: 470px;
            height: 25px;
            padding: 0;
            border-radius: 10px;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            margin-left: 5px;
        }

            .d-carousel #more:hover {
                background-image: linear-gradient(to top,#797f2b 0%,#959958 13.5%,#fff 50%,#f9feb1 86.5%,#f6fea3 100%);
                color: #213b64;
                -webkit-transition: .5s ease;
                transition: .5s ease;
            }

        .d-carousel a#more {
            padding-top: 7px;
        }

        .d-carousel h2 {
            text-align: center;
        }

    .news {
        width: 480px;
    }

        .news .img {
            display: none;
        }

        .news .firstnews {
            padding-top: 20px;
            padding-bottom: 25px;
            margin-left: 5px;
            text-align: center;
            width: 470px;
            border: 2px solid #fff;
            border-radius: 10px;
        }

        .news div {
            margin-bottom: 9px;
        }

        .news h2 {
            margin-top: 35px;
            margin-left: 0;
            margin-bottom: 9px;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 24px;
            font-weight: 700;
            text-transform: uppercase;
            text-align: center;
        }

        .news h3 {
            width: 450px;
            margin-left: 10px;
            margin-bottom: 20px;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .news h4 {
            width: 450px;
            margin-left: 10px;
            margin-bottom: 20px;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
        }

        .news p {
            width: 450px;
            color: #fff;
            line-height: 23px;
            font-size: 18px;
            font-family: "Century Gothic";
            margin-bottom: 20px;
            margin-left: 10px;
        }

        .news .content1, .content2 {
            width: 480px;
            text-align: justify;
            display: inline-block;
            vertical-align: top;
            margin-left: 0;
        }

            .news .content1 a#more, .content2 a#more {
                padding: 10px 175px 10px 175px;
                margin-left: 9px;
                border-radius: 10px;
                background: none;
                border: 1px solid #fff;
                color: #fff;
                font-family: "Century Gothic";
                font-size: 18px;
                font-weight: 700;
                text-decoration: none;
            }

                .news .content1 a#more:hover {
                    background-image: linear-gradient(to top,#797f2b 0%,#959958 13.5%,#fff 50%,#f9feb1 86.5%,#f6fea3 100%);
                    color: #213b64;
                    -webkit-transition: .5s ease;
                    transition: .5s ease;
                }

        .news .content2 a#more:hover {
            background-image: linear-gradient(to top,#797f2b 0%,#959958 13.5%,#fff 50%,#f9feb1 86.5%,#f6fea3 100%);
            color: #213b64;
            -webkit-transition: .5s ease;
            transition: .5s ease;
        }

        .news .morenews {
            margin-top: 22px;
            margin-bottom: 65px;
            text-align: center;
        }

        .news .img img {
            object-fit: cover;
            margin-top: 5px;
        }

        .news .morenews #more {
            display: block;
            max-width: 470px;
            height: 25px;
            padding: 0;
            border-radius: 10px;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            margin-left: 5px;
        }

            .news .morenews #more:hover {
                background-image: linear-gradient(to top,#797f2b 0%,#959958 13.5%,#fff 50%,#f9feb1 86.5%,#f6fea3 100%);
                color: #213b64;
                -webkit-transition: .5s ease;
                transition: .5s ease;
            }

        .news .morenews a#more {
            padding-top: 7px;
            margin-left: 5px;
        }

    .footer {
        height: 52px;
        display: flex;
        flex-direction: column;
        width: 480px;
        margin-left: 0;
        margin-top: -54px;
    }

        .footer .social {
            width: 200px;
            margin-left: 0;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-left: 29.5%;
        }

        .footer .bottomnav {
            display: flex;
            flex-direction: column;
            width: 480px;
            justify-content: space-between;
            margin-left: 0;
            margin-top: 60px;
            text-align: center;
        }

            .footer .bottomnav a {
                font-size: 24px;
                margin-bottom: 20px;
                display: block;
            }

    #toTop {
        bottom: 10px;
        right: 60px;
    }

    .none {
        display: none;
    }

    .search1 {
        display: none;
    }

    .h2novostroy h2 {
        margin-left: 0;
        width: 100%;
    }

    .h2novostroy {
        text-align: center;
        display: block;
        line-height: 32px;
    }

    .selection {
        margin-left: 0;
        flex-direction: column;
        text-align: center;
        width: 480px;
    }

        .selection select {
            width: 400px;
            margin-bottom: 12px;
        }

    .selection1 {
        margin-left: 0;
        flex-direction: column;
        text-align: center;
        width: 480px;
    }

        .selection1 select {
            width: 400px;
            margin-bottom: 12px;
        }

    .search-button {
        width: 480px;
        text-align: center;
    }

    .seotext2 {
        margin-left: 0;
        margin-top: 30px;
        margin-bottom: 54px;
        width: 450px;
        padding: 0 15px 0 15px;
    }

    .sorting {
        text-align: center;
        width: 480px;
    }

        .sorting form {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-top: -20px;
            margin-left: 0;
            margin-bottom: 5px;
            width: 480px;
        }

            .sorting form a {
                width: 400px;
                margin-left: 40px;
            }

    .products {
        margin-left: 0;
    }

        .products .prods {
            width: 370px;
            margin-left: 114px;
        }

        .products #more {
            display: block;
            max-width: 470px;
            height: 25px;
            padding: 0;
            border-radius: 10px;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            margin-left: 5px;
        }

    #mapnovostroy {
        display: none;
    }

    #mapnovostroy1 {
        display: block;
        margin-left: 10px;
        margin-top: 25px;
    }

    .seotext {
        width: 480px;
        margin-left: 0;
        margin-top: 35px;
        margin-bottom: 96px;
        text-align: center;
    }

        .seotext p {
            width: 450px;
        }

    .favorite {
        position: relative;
    }

    .h2novostroy .favorite1 {
        position: relative;
        top: 0;
        left: 173px;
        width: 136px;
    }

    .h2novostroy .favorite {
        position: relative;
        top: 0;
        left: 142px;
        width: 195px;
    }

    #fav2 {
        display: none;
    }

    #products_example {
        display: none;
    }

    .table_of_prod table {
        width: 460px;
        margin-left: 5px;
    }

        .table_of_prod table tr td {
            padding: 6px 10px 6px 10px;
        }

    .planirovka {
        width: 460px;
        margin-left: 5px;
        margin-top: 29px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
    }

    #mapnovostroy_prod {
        display: none;
    }

    #mapnovostroy1 {
        margin-bottom: 70px;
    }

        #mapnovostroy1 iframe {
            width: 460px;
            height: 300px;
        }

    .planirovka img {
        margin-bottom: 14px;
        width: 460px;
        height: cover;
        object-fit: cover;
    }

    .othernovostroy {
        display: block;
    }

    .share_icons {
        width: 135px;
        margin-left: 172.5px;
    }

    .seotext3 {
        width: 460px;
        margin-left: 0;
        padding: 0 10px 0 10px;
    }

    .h2sale {
        text-align: center;
        margin-top: 0;
    }

    .print {
        display: none;
    }

    .table_of_prodapart table {
        margin-left: 9px;
    }

    #mapapart_prod {
        display: none;
    }

    .map_managercard .manager {
        display: flex;
        width: 480px;
        margin-left: 10px;
    }

    #mapnovostroy1 {
        margin-bottom: 60px;
    }

    .streak {
        width: 100%;
        margin-left: 0;
    }

    .selection ._cost select {
        width: 190px;
    }

    .selection ._cost {
        width: 400px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 40px;
    }

    #map_company {
        display: none;
    }

    .about_company {
        margin-left: 10px;
        width: 460px;
    }

        .about_company h2 {
            text-align: center;
        }

    .photo_company {
        width: 480px;
        margin-left: 0;
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .adress {
        display: flex;
        flex-direction: column;
        width: 430px;
        justify-content: space-between;
        margin-left: 30px;
    }

    .about_company1 {
        margin-left: 10px;
        width: 430px;
    }

    .form_comment {
        margin-left: 5px;
        width: 440px;
    }

    .news1 {
        width: 460px;
    }

        .news1 h2 {
            margin-left: 0;
            text-align: center;
        }

        .news1 .firstnews {
            padding-top: 0;
            padding-bottom: 0;
            margin-left: 0;
            text-align: center;
            width: 500px;
            border: none;
        }

        .news1 .comment1 {
            width: 748px;
            text-align: justify;
            vertical-align: top;
            margin-left: 10px;
        }

        .news1 h3 {
            font-size: 19px;
        }

        .news1 h4 {
            font-size: 18px;
        }

        .news1 p {
            line-height: 20px;
            font-size: 17px;
            width: 460px;
        }

        .news1 .morenews1 #more {
            display: block;
            max-width: 700px;
            height: 25px;
            padding: 0;
            border-radius: 10px;
            background: none;
            border: 1px solid #fff;
            color: #fff;
            font-family: "Century Gothic";
            font-size: 18px;
            font-weight: 700;
            text-decoration: none;
            text-align: center;
            margin-left: 16px;
        }

    .othernovostroy .prods {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: 370px;
        margin-left: 114px;
    }

    .othernovostroy {
        margin-top: 29px;
        margin-left: 0;
        margin-bottom: 36px;
    }

    .favprod {
        height: cover;
    }

    .managers {
        width: 480px;
        margin-bottom: 68px;
    }

        .managers h2 {
            margin-left: -11px;
            text-align: center;
        }

    #application {
        margin-left: 5px;
        margin-bottom: 90px;
    }

    .managers .manager_ {
        padding-top: 20px;
        padding-bottom: 20px;
        margin-left: 0;
        text-align: center;
        width: 480px;
    }

    .manager_ {
        display: flex;
        flex-direction: column;
    }

    .managers .img {
        margin-left: 0;
    }

    .managers .contactinfo h3 {
        text-align: center;
    }

    .managers .about_manager {
        width: 460px;
        margin-left: 10px;
    }

    .managers p {
        line-height: 20px;
        font-size: 18px;
    }

    .managers .contactinfo h3 {
        font-size: 18px;
    }

    .contactinfo {
        margin-left: 71px;
    }

    .news .morenews1 #more {
        display: block;
        max-width: 470px;
        height: 25px;
        padding: 0;
        border-radius: 10px;
        background: none;
        border: 1px solid #fff;
        color: #fff;
        font-family: "Century Gothic";
        font-size: 18px;
        font-weight: 700;
        text-decoration: none;
        text-align: center;
        margin-left: 5px;
    }

    .news .content1 .share_icons1 a {
        padding: 0;
        border: none;
    }

        .news .content1 .share_icons1 a:hover {
            opacity: 1;
            color: none;
            background-image: none;
        }

    .footer .social {
        margin-top: 20px;
    }

    .news .firstnews {
        margin-bottom: 45px;
    }

    .map_website ol {
        margin-left: 50px;
        margin-top: 30px;
        margin-bottom: 60px;
    }

    .map_website a {
        font-size: 25px;
        line-height: 35px;
    }

    .h2prodsale h2 {
        color: #fff;
        font-family: "Casper";
        font-size: 24px;
        font-weight: 700;
        text-transform: uppercase;
        margin-left: 0;
        text-align: center;
    }

    .navigation_string {
        display: none;
    }

    #application, #emailForm {
        width: 462px;
        margin-bottom: 63px;
        margin-left: 12px;
    }

    #button-more {
        width: 475px;
    }

    .d-carousel h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
        margin-left: 0px;
    }

    .news h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .content1 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .footer .bottomnav a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news h4 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .selection select {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .search-button a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .sorting form a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .products #more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .seotext p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .content1 a#more, .content2 a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .morenews a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .seotext3 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .table_of_prod table {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .map_managercard .manager .manager_info {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company1 h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company1 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company .call_us p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .map_website a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .form_comment h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .form_comment p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers .contactinfo h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .d-carousel a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #application h3, #emailForm h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #applicationName, #applicationEmail, #applicationTelephone {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #applicationText {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .applicationButton {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .header_mobile .header .contactinfo .tel p {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }
}

@media(max-width:415px) {
    .tags {
    }
.news .content1 a.intext {
    padding: 0;
    border-radius: none;
    background: none;
    border: none;
    color: #ffd700;
    font-family: "Century Gothic";
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}

    .news .content1 a.intext:hover {
        color: #ffd700;
    border-bottom: 1px solid #ffd700;
    }

    .container {
        max-width: 320px;
    }

    body {
        background-color: #0a2a5d;
        background-image: none;
    }

    body {
        -ms-text-size-adjust: 100%;
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
    }

    .header_mobile {
        max-width: 320px;
        margin: auto;
    }

    .header {
        width: 100%;
        background-color: #0a2a5d;
    }

    .header_mobile .header .contactinfo .feedback {
        margin-left: 0;
    }

    .header_mobile .header .contactinfo .tel {
        margin-left: -166px;
        margin-top: 61px;
    }

        .header_mobile .header .contactinfo .tel p {
            -ms-text-size-adjust: 100%;
            -moz-text-size-adjust: 100%;
            -webkit-text-size-adjust: 100%;
        }

    .form-search {
        margin-top: 40px;
    }

        .form-search input {
            width: 240px;
        }

    .d-carousel h2 {
        margin-top: 15px;
    }

    .d-carousel .jcarousel-container-horizontal {
        padding: 0 33px;
        margin-left: 0%;
    }

    .d-carousel #more {
        width: 315px;
    }

    .news {
        width: 320px;
    }

        .news .firstnews {
            width: 310px;
        }

        .news p {
            width: 300px;
            margin-left: 5px;
        }

        .news h3 {
            width: 290px;
        }

        .news .content1 a#more, .content2 a#more {
            padding: 10px 95px 10px 95px;
            margin-left: 12px;
        }

    .footer {
        width: 320px;
    }

    #toTop {
        bottom: 10px;
        right: -5px;
    }

    .footer .social {
        width: 200px;
        margin-left: 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 18.5%;
    }

    .footer .bottomnav {
        width: 320px;
    }

    .news .content1, .content2 {
        width: 310px;
    }

    .news h4 {
        width: 283px;
    }

    .selection {
        margin-left: 5px;
        flex-direction: column;
        text-align: center;
        width: 310px;
    }

        .selection select {
            width: 310px;
            margin-bottom: 12px;
        }

    .selection1 {
        margin-left: 5px;
        flex-direction: column;
        text-align: center;
        width: 310px;
    }

        .selection1 select {
            width: 310px;
            margin-bottom: 12px;
        }

        .selection, .selection1 ._cost {
            width: 310px;
            margin-left: 8px;
        }

            .selection, .selection1 ._cost select {
                width: 150px;
            }

    .search-button {
        width: 310px;
        text-align: center;
    }

    .seotext2 {
        width: 300px;
        padding: 0 10px 0 10px;
    }

    .sorting {
        text-align: center;
        width: 300px;
    }

        .sorting form a {
            width: 300px;
            margin-left: 10px;
        }

        .sorting form {
            width: 320px;
        }

    .products .prods {
        width: 250px;
        margin-left: 35px;
    }

    .products #more {
        max-width: 310px;
    }

    .seotext {
        width: 320px;
    }

        .seotext p {
            width: 300px;
        }

    #button-more {
        width: 320px;
    }

    .form_comment {
        margin-left: -6px;
        width: 310px;
    }

    .news1 {
        width: 320px;
    }

        .news1 .firstnews {
            width: 320px;
        }

        .news1 .comment1 {
            width: 320px;
        }

        .news1 p {
            width: 320px;
        }

    #mapnovostroy1 iframe {
        width: 305px;
        height: 300px;
    }

    .about_company1 {
        margin-left: 10px;
        width: 310px;
    }

    .adress {
        display: flex;
        flex-direction: column;
        width: 310px;
        justify-content: space-between;
        margin-left: 5px;
    }

    .header_mobile .header .logo {
        margin-top: 5px;
        margin-left: 31%;
    }

    .share_icons {
        width: 135px;
        margin-left: 94.5px;
    }

    .seotext3 {
        width: 310px;
        margin-left: 0;
        padding: 0 5px 0 5px;
    }

    .table_of_prod table {
        width: 315px;
        margin-left: 2px;
        font-size: 17px;
    }

        .table_of_prod table tr td {
            padding: 6px 0 7px 6px;
        }

    .planirovka {
        width: 315px;
        margin-bottom: -5px;
        margin-left: 3px;
    }

        .planirovka img {
            width: 315px;
        }

    .othernovostroy .prods {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        position: relative;
        width: 320px;
        margin-left: 38px;
    }

    .news1 .morenews1 #more {
        margin-left: 0;
    }

    .about_company {
        margin-left: 5px;
        width: 310px;
    }

    .photo_company {
        width: 315px;
        margin-left: 4px;
    }

        .photo_company img {
            -o-object-fit: contain;
            object-fit: contain;
            width: 315px;
            height: 455px;
        }

    .table_of_prodapart table {
        width: 305px;
    }

    .map_managercard .manager {
        margin-left: 15px;
        width: 305px;
    }

    .map_managercard .photo {
        padding-left: 97px;
    }

    .map_managercard .manager .manager_info {
        margin-top: 103px;
        margin-left: -192px;
    }

    .managers {
        width: 320px;
        margin-bottom: 68px;
    }

    #application, #emailForm {
        width: 310px;
        margin-left: 5px;
    }

    #applicationName, #applicationEmail, #applicationTelephone {
        width: 315px;
        margin-left: 0;
    }

    #applicationText {
        width: 315px;
    }

    .applicationButton {
        margin-left: -5px;
    }

    .managers .manager_ {
        width: 320px;
    }

    .managers .img {
        margin-right: 0;
    }

    .manager_ .contactinfo {
        width: 320px;
        margin-left: 4px;
    }

    .managers .about_manager {
        width: 320px;
        margin-left: 10px;
    }

    .selection ._cost {
        width: 310px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 0;
    }

        .selection ._cost select {
            width: 150px;
        }

    .d-carousel h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .content1 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .footer .bottomnav a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news h4 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .selection select {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .search-button a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .sorting form a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .products #more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .seotext p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .content1 a#more, .content2 a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news .morenews a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .news h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .seotext3 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .table_of_prod table {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .map_managercard .manager .manager_info {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company1 h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company1 p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .about_company .call_us p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .map_website a {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .form_comment h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .form_comment p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers h2 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers .contactinfo h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .managers p {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .d-carousel a#more {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #application h3, #emailForm h3 {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #applicationName, #applicationEmail, #applicationTelephone {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    #applicationText {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .applicationButton {
        font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;
    }

    .streak {
        width: 103%;
        margin-left: 0;
    }

    .h2novostroy .favorite {
        position: relative;
        top: 0;
        left: 66px;
        width: 195px;
    }

    .h2novostroy .favorite1 {
        position: relative;
        top: 0;
        left: 94px;
        width: 140px;
    }

    .h2sale {
        text-align: center;
        margin-top: 0;
    }

    .seotext3 {
        margin-top: 20px;
    }
}

