@font-face {
	font-family: Casper;
	src: url(fonts/casper/casper.woff);
}


body {
	margin:0; 
	padding:0; 
	background-image: linear-gradient(to top, #0e2447 0%, #0e2447 13.5%, #163d7d 50%, #0e2447 86.5%, #0e2447 100%);
	
	
}
.container {
	min-width: 1500px;
	max-width: 1500px;
	margin: 0 auto;	
	position: relative;
	/*background-color: #08367e;*/
background-image: linear-gradient(to top, #0e2447 0%, #0e2447 13.5%, #163d7d 50%, #0e2447 86.5%, #0e2447 100%);
	
}

#slidebox {
	position:relative; 
	margin:0 auto;
	overflow:hidden;
}
#slidebox, #slidebox .listofimg {
	width:1500px;height:613px;
}

#slidebox .listofimg  {
	position:relative; 
	left:0; 
	background:#eee; 
	float:left;
	list-style:none; 
	padding:0px 0px;  
}
#slidebox .next, #slidebox .previous {
	position:absolute; 
	z-index:2; 
	display:block; 
	width:40px; 
	height:40px;
	top:390px; 
}
#slidebox .next {
	right:0; 
	margin-right:92px; 
	background:url(images/slidebox_next.png) no-repeat left top;
}
#slidebox .next:hover{background:url(images/slidebox_next_g.png) no-repeat left top;}
#slidebox .previous {
	margin-left:92px; 
	background:url(images/slidebox_prev.png) no-repeat left top;
}
#slidebox .previous:hover{background:url(images/slidebox_prev_g.png) no-repeat left top;}
#slidebox .thumbs {
	position:absolute; 
	z-index:2; 
	bottom:18px; 
	left:716px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 75px;
}
#slidebox .thumbs a { 
	width:12px; 
	height:12px; 
	display:block; 
	border:2px solid white; 
	background-color: none; 
	border-radius: 50%; 
	margin-bottom: 2px;
} 
#slidebox .thumbs a:hover{ 
	opacity: 0.7; 
	color:#000; 
} 
#slidebox .thumbs .thumbActive{ 
	width:12px; 
	height:12px; 
	display:block; 
	background-color: white; 
	border-radius: 50%; 
}
.header {
	display: flex;
	flex-direction: row;
	width: 1500px;
	height: 118px;
	background: 
 	url("images/goldline1.png") no-repeat 0% 8%,
  	url("images/goldline2.png") no-repeat 100% 92%;
  	background-color: rgba(15, 37, 71, 0.8);
}
.logo {
	margin-left: 87px;
	margin-top: 20px;
}
.form-search {
	border-radius: 10px;
	padding: 4px;
	margin-left: 256px;
	margin-top: 20px;
}
.form-search input {
  width: 548px;
  height: 29px;  
  padding: 0 50px 0 10px; 
  background-image: url("images/search.png");
  background-repeat: no-repeat; 
  background-position: 99% 60%, 100% 70%;
  border: 1px solid #747474;
  border-radius: 10px;
	font-family: Casper;
	font-size: 16px;
	box-sizing: border-box;
}
.your_name {
	width: 275px;
	display: flex;
	color: #ffffff;
	font-family: Casper;
	font-size: 12px;
	margin-left: 533px;
	margin-top: 39px;
}
.your_name a {
	text-decoration:none; 
	color: #ffffff;
	font-family: Casper;
	font-size: 12px;
}
.your_name a:hover {
	color: gold;
}
.your_login {
	margin-right: 10px;
	margin-left: 4px;
}
.logout {
	padding-left: 23px;
	width: 103px;
	position: relative;
}
.logout:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url('images/logout.png');
	background-repeat: no-repeat;
	
	left: 2px;
	top: -6px;
	width: 18px;
	height: 18px;		
}
.contactinfo {
	margin-left: 10px;
	margin-top: 20px;
	color: white;
	font-family: "Casper";
	font-weight: 600;
	font-size: 16px;
}
.contactinfo .social {
	margin-top:11px;
	margin-left: 71px;
	display: flex;
	flex-direction: row;
}
.contactinfo .tel {
	display: flex;
	flex-direction: row;
	margin-left: 80px;
}
.contactinfo .imgtel {
margin-right: 5px;
}

.social a {
	margin-left: 2px;
}

.social .vk {
	height: 39px;
	width: 39px;
 	background-image: url('images/vk.png');
 	background-repeat: no-repeat;
 }
 .social .vk:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/vk-g.png');
 	display: block;
 }

.social .fb {
	height: 39px;
	width: 39px;
 	background-image: url('images/fb.png');
 	background-repeat: no-repeat;
 }
 .social .fb:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/fb-g.png');
 	display: block;
 }
.social .tw {
	height: 39px;
	width: 39px;
 	background-image: url('images/tw.png');
 	background-repeat: no-repeat;
 }
 .social .tw:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/tw-g.png');
 	display: block;
 }

.social .gmail {
	height: 39px;
	width: 39px;
 	background-image: url('images/gmail.png');
 	background-repeat: no-repeat;
 }
 .social .gmail:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/gmail-g.png');
 	display: block;
 }
.header .feedback {
	display: flex;
	flex-direction: column;
	
	margin-top: 20px;
	margin-left: 30px;
	width: 100px;
}
.header #blink {
	position: relative;	
	padding: 12px 8px 12px 38px;
	background-color: #123360;	
		text-decoration: none;
	width: 120px;
	height: 13px;
	color: white;
	font-family: Casper;
	font-size: 15px;
	border-radius: 10px;
	box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.35);
	margin-bottom: 9px;
}
.header #fav {
	position: relative;	
	padding: 11px 7px 11px 37px;
	background-color: #123360;	
		text-decoration: none;
	width: 120px;
	height: 13px;
	color: white;
	font-family: Casper;
	font-size: 15px;
	border-radius: 10px;
	border: 1px solid white;
	/*box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.35);*/
	margin-bottom: 9px;
}
.header #blink:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url('images/feedback.png');
	background-repeat: no-repeat;
	
	left: 7px;
	top: 4px;
	width: 26px;
	height: 26px;		
}
.header #fav:before {
	content: "";
	display: block;
	position: absolute;
	background-image: url('images/heart.png');
	background-repeat: no-repeat;
	
	left: 7px;
	top: 4px;
	width: 27px;
	height: 26px;		
}
.header .feedback a:hover {
		opacity: 0.8;
		color: gold;
}
#blink {
  -webkit-animation: blink 1s linear infinite;
  animation: blink 1s linear infinite;
}
@-webkit-keyframes blink {
  50% { color: rgb(239, 195, 33); }
  51% { color: rgba(239, 195, 33, ); }
  100% { color: rgba(239, 195, 33, ); }
}
@keyframes blink {
  50% { color: rgb(239, 195, 33); }
  51% { color: rgba(239, 195, 33, ); }
  100% { color: rgba(239, 195, 33, ); }
}
.header #fav:hover {
	color: gold;
}
#nav {
	height: 84px;
	display: flex;
	flex-direction: row;
	background-color: rgba(246, 242, 90, 0.8);
}
.navigation > ol {
	width: 800px;
	/*margin-top: 33px;*/
	margin-left: 388px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.navigation a {
	color: #1d3960;
	font-family: "Casper";
	font-weight: 600;
	font-size: 18px;
	text-transform: uppercase;
	text-decoration: none;
	height: 18px;
	padding: 32px 23px 34px 23px;
}
.navigation ol li a {
    display:block;
}
.navigation ol li:hover {
	background-color: rgba(3, 2, 2, 0.6);
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
.navigation ol li {
	position: relative;
	float:left;
	margin:0;
	padding:0
}
.bodyform form {
	z-index: 10001;
    position:relative;
}

.navigation ol li a:hover {
	color: white;
	-webkit-transition: .2s ease;
	transition: .2s ease;
}
.navigation ol ol {
	display:none;
	position:absolute;
	left: 0px;
	background-color: rgba(3, 2, 2, 0.6);
	/*border-radius: 0 0 6px 6px;*/
	color: white;
	width: 230px;
}
.navigation ol ol li a{
	padding: 17px 0px 15px 20px;	
	color: white;
	font-size: 16px;
	width: 210px;
}
.navigation ol li:hover > ol {
	display:block;
	z-index: 10000;
	-webkit-transition: .3s ease;
	transition: .3s ease;
}
#nav .sell {
	margin-left: 118px;
	margin-top: 33px;	
}
#nav .sell a {
	position: relative;	
	padding: 11px 24px 13px 24px;
	background-color: #123360;	
	text-decoration: none;	
	border-radius: 10px;
	box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.35);
	color: white;
	font-family: Casper;
	font-size: 18px;
}
#nav .sell a:hover {
	opacity: 1;
	color: gold;
}
.h1 {
	width: 442px;
	color: #213b64;
	font-family: "Casper";
	font-size: 98px;
	font-weight: 600;
	text-transform: uppercase;
	margin-left: 223px;
	margin-top: 105px;
}
.h2 {
	width: 364px;
	color: #23436b;
	font-family: "Casper";
	font-size: 30px;
	font-weight: 600;	
	text-transform: uppercase;
	margin-left: 223px;
}
.knowmore {
	margin-top: 49px;
	margin-left: 475px;
}
.knowmore a {	
	padding: 17px 25px 17px 25px;
	text-decoration: none;	
	border-radius: 10px;
	box-shadow: inset 0 0 9px rgba(255, 255, 255, 0.35);
	color: white;
	font-family: Casper;
	font-size: 20px;
	background-color: rgba(15, 37, 71, 0.8);
	border-radius: 10px;
}
.knowmore a:hover {
	opacity: 0.9;
	color: gold;
}
#slidebox .textinslider{
	position: absolute;	
	min-width: 1329px;
	height: 173px;
	z-index: 10000;
	top: 0px;
	left: 0px;
}
.d-carousel .redimg {
	position: absolute;
	z-index: 10000;
	width: 70px;
	height: 70px;
	margin-left: 180px;
}
.d-carousel {
	margin-left: 181px;
}
.d-carousel h3 {
	color: white;
	font-family: "Casper";
	font-size: 19px;
	font-weight: 600;

	margin-top: 10px;
	margin-left: 69px;
}
.d-carousel h4 {
	margin: 11px 10px 0px 15px;
	color: white;
	font-family: Casper;
	font-size: 12px;
	width: 215px;
	overflow: hidden;
	text-align: center;
}
.d-carousel .jcarousel-container {
	display: block;
	overflow: hidden;
}
.d-carousel .jcarousel-item {
	width: 251px;
	height: 353px;
	box-sizing: border-box;
}
.d-carousel .jcarousel-container-horizontal {
	width: 1055px;
	height: 353px;
	padding: 0 45px;
	margin-bottom: 25px;
}
.d-carousel .jcarousel-item-horizontal {
	margin-left: 3px;
	margin-right: 11px;
}
.d-carousel .jcarousel-next-horizontal {
	position: absolute;
	top: 149px;
	right: 0;
	margin-right: 3px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(style/images/next.png) no-repeat top right;
}
.d-carousel .jcarousel-next-horizontal:hover {
	background: transparent url(style/images/next-g.png) no-repeat top right;
}
.d-carousel .jcarousel-prev-horizontal {
	position: absolute;
	top: 149px;
	left: 0;
	margin-left: 3px;
	width: 30px;
	height: 30px;
	cursor: pointer;
	background: transparent url(style/images/prev.png) no-repeat top left;
}
.d-carousel .jcarousel-prev-horizontal:hover {
	background: transparent url(style/images/prev-g.png) no-repeat top left;
}
.d-carousel h2 {
	margin-top: 35px;
	margin-left: 46px;
	margin-bottom: 9px;
	color: white;
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.d-carousel #more {
	padding: 11px 469px 10px 474px;
	
	border-radius: 10px;
	background: none;
	border: 1px solid white;

	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	margin-left: 46px;
}
.d-carousel #more:hover {
	background-image: linear-gradient(to top, #f4fd6b 0%, #f4fd6b 13.5%, white 50%, #f4fd6b 86.5%, #f4fd6b 100%);
	color: #213b64;
-webkit-transition: .5s ease;
	transition: .5s ease;
}
.min-content{
	width: 249px;
	height: 135px;
	border: 1px solid white;
	position: relative;
}
.cost {
	color: white;
	font-family: "Casper";
	font-size: 20px;
	font-weight: 600;

	padding: 8px 20px;
	background-color: none;	
	margin-top: 14px;
	text-align: center;

	width: 111px;
	border: 1px solid white;
	border-radius: 10px;

	display: inline-block;

	position: absolute;
	left: 42px;
	top: 77px;
}
#follow {
	padding: 19px 10px;
	border-top:1px solid white;
	border-left:1px solid white;
	color: white;
	text-decoration: none;
	position: absolute;
	right: 0;
	bottom: 0;
}
#follow:hover {
	color: #213b64;
	font-weight: 600px;
	background-image: linear-gradient(to top, #fcf645 0%, #fcf645 13%, white 50%, #fcf645 87%, #fcf645 100%);
	-webkit-transition: .4s ease;
	transition: .4s ease;
}

.streak {
	/* Style for "Прямоуголь" */
	margin: 0;
width: 1333px;
height: 3px;
background-color: #ffffff;
margin-top: 29px;
margin-left: 84px;
}
.news {
	width: 1332px;
}
.news .img {
	display: inline-block;
}
.news .firstnews, .secondnews {
	padding-top:20px;
	padding-bottom: 25px;
	margin-left: 85px;
	text-align: center;
	width: 1332px;
	border: 2px solid white;
	border-radius: 10px;
}
.news .firstnews {
	margin-bottom: 9px;
}
.news h2 {
	margin-top: 35px;
	margin-left: 225px;
	margin-bottom: 9px;
	color: white;
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
}
.news h3 {
	margin-bottom: 20px;
	color: white;
	font-family: "Century Gothic";
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}
.news h4 {
	margin-bottom: 20px;
	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
}
.news p {
	color: white;
	line-height: 15px;
	font-size: 12px;
	font-family: "Century Gothic";
	margin-bottom: 20px;
}
.news .content1, .content2 {
	width: 542px;
	text-align: justify;
	display: inline-block;
	vertical-align: top;
	/*margin-bottom: 40px;*/
	margin-left: 69px;
}
.news .content1 a, .content2 a {
	padding: 10px 220px 10px 220px;	
	border-radius: 10px;
	background: none;
	border: 1px solid white;
	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
}
.news .content1 a:hover {
	background-image: linear-gradient(to top, #f4fd6b 0%, #f4fd6b 13.5%, white 50%, #f4fd6b 86.5%, #f4fd6b 100%);
	color: #213b64;
-webkit-transition: .5s ease;
	transition: .5s ease;
}
.news .content2 a:hover {
	background-image: linear-gradient(to top, #f4fd6b 0%, #f4fd6b 13.5%, white 50%, #f4fd6b 86.5%, #f4fd6b 100%);
	color: #213b64;
-webkit-transition: .5s ease;
	transition: .5s ease;
}
.news .morenews {
margin-top: 22px;
	margin-bottom: 65px;
}
.news .morenews #more {
	padding: 11px 469px 10px 474px;	
	border-radius: 10px;
	background: none;
	border: 1px solid white;
	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	margin-left: 225px;
}
.news .morenews #more:hover {
	background-image: linear-gradient(to top, #f4fd6b 0%, #f4fd6b 13.5%, white 50%, #f4fd6b 86.5%, #f4fd6b 100%);
	color: #213b64;
-webkit-transition: .5s ease;
	transition: .5s ease;
}
.footer {
	height: 52px;
	background-color: #0f2547;
	display: flex;
	flex-direction: row;
}
.footer .social {
	margin-left: 225px;
	display: flex;
	flex-direction: row;
}
.footer .social a {
	margin-left: 2px;
}
.footer .social .vk {
	height: 39px;
	width: 39px;
 	background-image: url('images/vk.png');
 	background-repeat: no-repeat;
 }
 .footer .social .vk:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/vk-g.png');
 	display: block;
 }
.footer .social .fb {
	height: 39px;
	width: 39px;
 	background-image: url('images/fb.png');
 	background-repeat: no-repeat;
 }
 .footer .social .fb:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/fb-g.png');
 	display: block;
 }
.footer .social .tw {
	height: 39px;
	width: 39px;
 	background-image: url('images/tw.png');
 	background-repeat: no-repeat;
 }
 .footer .social .tw:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/tw-g.png');
 	display: block;
 }
.footer .social .gmail {
	height: 39px;
	width: 39px;
 	background-image: url('images/gmail.png');
 	background-repeat: no-repeat;
 }
 .footer .social .gmail:hover {
 	height: 39px;
	width: 39px;
 	background-image: url('images/gmail-g.png');
 	display: block;
 }
 .footer .bottomnav {
 	display: flex;
 	flex-direction: row;
 	width: 547px;
 	justify-content: space-between;
 	margin-left: 65px;
 	margin-top: 14px;
 }
 .footer .bottomnav a {
 	text-decoration: none;
	color: white;
	font-family: "Century Gothic";
	font-size: 16px;
	font-weight: 700;
 }
 .footer .bottomnav a:hover {
 	color: gold;
}
#toTop {
	width:30px;
	height: 30px;	
	padding:10px;
	border-radius: 10px 10px 0 0;
	position:fixed;
	bottom:30px;  
	right:55px;
	cursor:pointer;
	display:none;	
	opacity: 0.8;
	background-image: url('images/totop.png');
	background-repeat: no-repeat;
}
#toTop:hover {
	background-image: url('images/totop_hover.png');
	background-repeat: no-repeat;
}
.login-form {  
  width: 228px;
  margin: 0 auto;
  border: 2px solid white;
  text-align: center;
  font-family: "Century Gothic";
  background-color: #143466;
}
.label {
	margin-top: 15px;
}
.user-id input {
  display: block;
  border-radius: 15px 15px 15px 15px;
  margin: 7px 5px 0 7px;
  padding: 10px 25px 8px 15px;
  color: white;
  outline: none;
  border: 1px solid white;
  background-color: #143466;
}
.password input {
  display: block;
  border-radius: 15px 15px 15px 15px;
  margin: 7px 5px 0 7px;
  padding: 10px 25px 9px 15px;
  color: white;
  outline: none;
  border: 1px solid white;
  background-color: #143466;
}
.headform {
	height: 40px;
	border-bottom: 2px solid white;
}
.headform h1 {
	padding-top: 11px;
}
.button {
	margin-top: 30px;
  width: 140px;
  height: 30px;
  background: #6b8bad;
  border-radius: 15px;
  border: 1px solid white;
  color: #fff;
  cursor:pointer;
  text-shadow: 0 1px 2px black;
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
  background: -moz-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #6b8bad), color-stop(48%, #39577f), color-stop(52%, #254b72), color-stop(100%, #102d4c));
  background: -webkit-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
  background: -o-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
  background: -ms-linear-gradient(top, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
  background: linear-gradient(to bottom, #6b8bad 0%, #39577f 48%, #254b72 52%, #102d4c 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b8bad', endColorstr='#102d4c',GradientType=0 );
}
.button:hover {
	opacity: 0.8;
	color: gold;
}
#forgotpas a {
	padding:0;
	margin: 0;
	text-transform: none;
}
#forgotpas {
	margin-left: 10px;
}
.errortext {
	margin-top: 15px;
	font-size: 14px;
	color: red;
}
.form-drop {
  left: -9999px; 
  position:absolute;
}
.navigation ol ol.login, .erroremail, .errorpas {
    display:block;
}

#loading-div {
    display:none;
}

/*Second page novostroy*/


.navigation_string {
	width: 100%;
	min-width: 1500px;
	border-bottom: 1px solid #c6c95e;
}
.navigation_string .way {
	display: flex;
	flex-direction: row;
	color: #bcbcbc;
	font-size: 14px;
	margin-top: 24px;
	margin-left: 87px;
	
}
.navigation_string .way a {	
	color: #bcbcbc;
	font-family: Casper;
	font-size: 12px;
	text-decoration: none;
}
.navigation_string .way a:hover {
	color: gold;
}

.selection {
	display: flex;
	flex-direction: row;
	width: 1055px;
	justify-content: space-between;
	margin-top: 32px;
	margin-left: 225px;
}
.h2novostroy h2 {
	color: white;
	font-family: "Casper";
	font-size: 24px;
	font-weight: 700;	
	text-transform: uppercase;
	margin-left: 225px;
	margin-top: 59px;
}
.h2prodsale h2 {
	color: white;
	font-family: "Casper";
	font-size: 24px;
	font-weight: 700;	
	text-transform: uppercase;
	margin-left: 225px;
	/*margin-top: 59px;*/
}
select {
	width: 199px;
	height: 51px;
	 -moz-appearance: none;
  	appearance: none;
    -webkit-appearance: none;
	background: transparent;
	background: url(images/select.png) no-repeat right;
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 15px;
	font-weight: 700;
	/*text-transform: uppercase;*/
	border-bottom: 1px solid white;
	border-left: 1px solid white;
	border-top: 1px solid white;
	padding-left: 5px;
}
select option {
	background-color: #163d7d;
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 14px;
	font-weight: 700;
	text-transform: none;
}
select:focus {
	color: gold;
	background: url(images/select_hover.png) no-repeat right;
}
select:hover {
	color: gold;
	background: url(images/select_hover.png) no-repeat right;
	-webkit-transition: .5s ease;
	transition: .5s ease;
}
.search-button {
	width: 186px;	
	color: #25406a;
	font-family: "Century Gothic";
	font-size: 15px;
	font-weight: 700;
	margin-top: 17.5px;
}
.search-button a {
	padding: 14px 68px 13px 68px;
	text-decoration: none;	
	border: 1px solid white;
	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	/*background-color: rgba(15, 37, 71, 0.8);*/
	background: transparent;	
}
.search-button a:hover {
	background-image: linear-gradient(to top, #797f2b 0%, #959958 13.5%, #ffffff 50%, #f9feb1 86.5%, #f6fea3 100%);
    color: #25406a;
    -webkit-transition: .5s ease;
	transition: .5s ease;
}

.products {
	margin-left: 225px;
	margin-top: 18px;
}
.products .prods {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	position: relative;
	width: 1100px;
}
.products .prods li {
	margin-bottom: 50px;
	margin-right: 20px;
}
.products .prods .redimg {
	position: absolute;
	z-index: 10000;
	width: 70px;
	height: 70px;
	margin-left: 180px;
}
.products .prods h3 {
	color: white;
	font-family: "Casper";
	font-size: 19px;
	font-weight: 600;

	margin-top: 10px;
	margin-left: 69px;
}
.products .prods h4 {
	margin: 11px 10px 0px 15px;
	color: white;
	font-family: Casper;
	font-size: 12px;
	width: 215px;
	overflow: hidden;
	text-align: center;
}
.products #more {
	padding: 11px 443px 10px 443px;
	
	border-radius: 10px;
	background: none;
	border: 1px solid white;

	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	text-decoration: none;
	
}
.products #more:hover {
	background-image: linear-gradient(to top, #797f2b 0%, #959958 13.5%, #ffffff 50%, #f9feb1 86.5%, #f6fea3 100%);
	color: #213b64;
    -webkit-transition: .5s ease;
	transition: .5s ease;
}
.prods li img {
	object-fit: cover;
}
#mapnovostroy { 
	height: 495px;
	width: 1065px;
}
#mapnovostroy iframe {
	margin-left: 225px;
	margin-top: 46px;
}
.seotext {
	width: 1065px;
	margin-left: 225px;
	margin-top: 82px;
	margin-bottom: 96px;
}
.seotext p {
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	opacity: 0.6;
	text-align: justify;
}
.seotext2 {
	width: 1065px;
	margin-left: 225px;
	margin-top: 18px;
	margin-bottom: 54px;
}
.seotext2 p {
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	opacity: 0.6;
	text-align: justify;
}
.table_of_prod table {
	width: 1055px;
	margin-left: 225px;
	margin-top: 29px;
	border: 1px solid white;
	opacity: 0.8;
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 24px;
	font-weight: 700;
}
.table_of_prod table tr td {
	border: 1px solid white;
	padding: 6px 0px 6px 22px;
}
.planirovka {
	width: 1055px;
	margin-left: 225px;
	margin-top: 29px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
}
.planirovka img {
	margin-bottom: 14px;
}
.video-youtube {
	margin-left: 395px;
	margin-top: 14px;
}
#mapnovostroy_prod { 
	height: 495px;
	width: 1065px;
}
#mapnovostroy_prod iframe {
	margin-left: 225px;
	margin-top: 14px;
}

.othernovostroy {
	margin-top: 29px;
	margin-left: 225px;
	margin-bottom: 36px;
}
.othernovostroy .prods {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;

	position: relative;
	width: 1100px;
}
.othernovostroy .prods li {
	margin-bottom: 50px;
	margin-right: 20px;
}
.othernovostroy .prods .redimg {
	position: absolute;
	z-index: 10000;
	width: 70px;
	height: 70px;
	margin-left: 180px;
}
.othernovostroy .prods h3 {
	color: white;
	font-family: "Casper";
	font-size: 19px;
	font-weight: 600;

	margin-top: 10px;
	margin-left: 69px;
}
.othernovostroy .prods h4 {
	margin: 11px 10px 0px 15px;
	color: white;
	font-family: Casper;
	font-size: 12px;
	width: 215px;
	overflow: hidden;
	text-align: center;
}
.prods li img {
	object-fit: cover;
}
.sorting {
	display: flex;
	flex-direction: row;
	width: 1065px;
	justify-content: space-between;
	margin-top: 54px;
	margin-left: 232px;
	margin-bottom: 65px;
}
.rooms {
	width: 260px;	
	color: #25406a;
	font-family: "Century Gothic";
	font-size: 15px;
	font-weight: 700;
	margin-top: 17.5px;
}
.rooms a {
	padding: 14px 60px 13px 60px;
	text-decoration: none;	
	border: 1px solid white;
	color: white;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 700;
	background: transparent;	
}
.rooms a:hover {
	background-image: linear-gradient(to top, #797f2b 0%, #959958 13.5%, #ffffff 50%, #f9feb1 86.5%, #f6fea3 100%);
	color: #25406a;
    -webkit-transition: .5s ease;
	transition: .5s ease;
}

.h2sale h2 {
	color: white;
	font-family: "Casper";
	font-size: 24px;
	font-weight: 700;	
	text-transform: uppercase;
	margin-bottom: 32px;
}
.seotext3 {
	width: 1065px;
	margin-left: 225px;
	margin-top: 32px;
	margin-bottom: 54px;
}
.seotext3 p {
	color: #ffffff;
	font-family: "Century Gothic";
	font-size: 18px;
	font-weight: 600;
	line-height: 20px;
	opacity: 0.6;
	text-align: justify;
}

/*dirty hack*/
.othernovostroy ul .data-item li .fix {
	vertical-align: sub;
	font-size: 0;
}
.products ul .data-item li .fix {
	vertical-align: sub;
	font-size: 0;
}