@model dynamic

<!DOCTYPE html>

<html>
<head>
    <title>ITFamil.com.ua</title>
</head>
<body onload="loadPage()">
<script type='text/javascript'>
    function loadPage() {
        window.returnValue = true;
        window.close();
    }
    
</script>
<div>

</div>
</body>
</html>