<div class="form-drop register-drop f-dropdown content-mod medium" tabindex="-1" data-dropdown-content aria-hidden="true" id="pre-register">
    <li class="li-drop">
        <a href="#" data-toggle="dropdown" data-dropdown="register-modal" aria-controls="register-modal" aria-expanded="false" class="f a-drop">
            Регистрация покупателя
        </a>
    </li>
    <li class="li-drop">
        <a href="@Url.Action("RegisterCorporative", "Authorize")" class="a-drop">
            Регистрация
            корпоративного клиента
        </a>
    </li>
</div>


