@using ReHouse.Utils.Helpers
@using ReHouse.Utils.DataBase.AdvertParams;
@model List<TagPage>
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "tagpages")

<div id="adminka2" class="tabset_content">
    <div class="headline">
        <h2>Страницы теги</h2>        
    </div>

    @if (!ViewBag.NoElements)
    {

        <div class="added">
            @*<button onclick="deleteChekedProducts();" class="delete_all">Удалить выбранные</button>*@
            <table class="added" id="data-container">
                @Html.Partial("TagPages/_listOfTagPages", Model)
            </table>
        </div>
        @*<div>
            <div class="products1">
                <div id="button-more">
                    <a id="more">Больше Отзывов</a>
                </div>
            </div>
        </div>
        <div id="loading-div">

        </div>*@
    }

</div>
@*@section scripts {
    @Scripts.Render("~/bundles/deleteFeedbacks")

    <script>
        var url = "/cabinet/feedback/load";
        $('#button-more').click(function () {

            var obj = {
        }

            lazyload(obj, url, false);
        });       
    </script>

}*@