
<div class="sidebar">

    <a href="#"><span class="catalog-title list">КАТАЛОГ ТОВАРОВ</span></a>

    <div class="main-wrap">
        
        <div class="main-col main-col-fat-menu-large clearfix">

            <div class="clearfix">
                <nav class="m-side">
                    @* начало сайдбара *@

                    <ul class="m-side-l" id="m-side">
                        @* главный ul *@

                        <li id="b10246468" class="m-side-l-i" name="m-side-i">
                            @* первый li *@

                            <a href="#" data-id="b" class="m-side-link m-side-link-arrow" level="level1" is_new="">
                                @* первая ссылка блока отображается в первом ряду  *@
                                Ноутбуки, планшеты и компьютеры
                            </a>


                            @* начало подменю для данного li *@
                            <div class="m-side-second"> @* начало второго блока c li эллементами *@
                                <span class="m-side-second-banner">
                                    @* начало баннера где купить товар выводится только здесь на все уровни  *@
                                    <div class="good">
                                        @* от слова товар начало самого блока *@

                                        <img src="../images/Layer-62.png" alt=""> @* указать ссылку сгенерированную на картинку и альт для поиска хорошо *@
                                        <a class="link-description" href="#">Ноутбуки Acer Aspire ES1-111m-C09T</a> @* описание для ссылки на товар и альт вставь для поиска хорошо   *@
                                        <div class="price-changed">6 320 грн</div> @*  блок показует старую цену перечеркнутая на шаблоне *@
                                        <div class="price-now">4 999 грн</div> @* цена сейчас  *@
                                        <button class="button buy">Купить</button>  @* кнопка купить *@
                                    </div>
                                </span> @* закончился баннер с рекламой товара *@

                                <div class="m-side-scroll" style="height: 100%;"> @* просто добавь этот блок *@
                                    <div style="height: 100%;"> @* просто добавь этот блок *@
                                        <div class="m-side-scroll-wrap" style="overflow-y: hidden;"> @* просто добавь этот блок *@
                                            <ul class="m-side-subl"> @* отображает li эллементы и все внутренности второго уровня и третего уровня *@

                                                <li class="m-side-l-i m-side-second-l" name="m-side-i-l">
                                                    @* начало li эллемента второго уровня *@

                                                    <a href="#" class=" m-side-link m-side-link-arrow" level="level2" is_new="">Ноутбуки</a> @* ссылка отображаемая во втором уровне *@

                                                    <div class="m-side-third">
                                                        @* начало третего уровня *@

                                                        <div style="height: 100%">
                                                            @* просто добавь этот блок *@

                                                            <div class="m-side-scroll-wrap" style="overflow-y: hidden;">
                                                                @* просто добавь этот блок *@

                                                                <div class="clearfix">
                                                                    @* просто добавь этот блок *@

                                                                    <div name="m-side-i-l1" class="clearfix">
                                                                        @* это блок вреппер для li-ok 3-го уровня *@

                                                                        <ul class="m-menu-third-l">
                                                                            @* это блок вреппер для li-ok 3-го уровня !! смотри примечание ниже *@

                                                                            @* эти li генерируй для для каждого эллемента 3-го уровня относящийся к эллементу второго *@

                                                                            <li class="m-menu-third-l-i">
                                                                                @* li 3-го уровня *@

                                                                                <a href="#" class="m-menu-third-i-link sprite-side" level="level3" is_new="">
                                                                                    @* a 3-го уровня *@
                                                                                    Ноутбуки

                                                                                    @* !!!!!!!!!!!!!!!!!!!

                                                                                            на случай нового товара на ссылке
                                                                                        встав код сюда
                                                                                        <span class="new m-side-l-i-new">NEW</span>

                                                                                            !!!!!!!!!!!!!!!!!!!
                                                                                    *@

                                                                                </a>

                                                                            </li> @* конец li 3-го уровня *@





                                                                        </ul> @* конец блока третего уровн  этот блок по умолчанию
                                                                            размером с в половину третьего уровн на случай есля ссылок будет дохрена
                                                                              генирируй еще один такой ul ссылки будут расположенны в 2 ряда *@

                                                                        @*

                                                                              на случай если не надо генерировать в 2 ряда 3-го уровня!
                                                                                 просто сделай один ul и не забудь добавить класс

                                                                                 one-column

                                                                                 до класса
                                                                                 m-menu-third-l

                                                                                 шаблон
                                                                            <ul class="m-menu-third-l one-column">

                                                                                 li  идут одинаково и a тоже

                                                                             </ul>


                                                                        *@




                                                                    </div> @* конец блок вреппер для li-ok 3-го *@

                                                                </div> @*  просто  конец дива очередного *@

                                                            </div> @*  просто  конец дива очередного *@

                                                        </div> @*  просто  конец дива очередного *@

                                                        <a href="#" class=" m-side-scroll-arrow m-side-scroll-arrow-top hidden" data-direction="left"></a>
                                                        <a href="#" class=" m-side-scroll-arrow m-side-scroll-arrow-bottom hidden" data-direction="right"></a>

                                                    </div> @*  конец третего уровня *@
                                                </li> @* конец li эллемента второго уровня *@


                                            </ul> @* конец ul отображает li эллементы и все внутренности второго уровня и третего уровня *@
                                            <a href="#" class=" m-side-scroll-arrow m-side-scroll-arrow-top hidden" data-direction="left"></a>
                                            <a href="#" class=" m-side-scroll-arrow m-side-scroll-arrow-bottom hidden" data-direction="right"></a>
                                        </div> @*  просто  конец дива очередного *@
                                    </div> @*  просто  конец дива очередного *@
                                </div> @*  просто  конец дива очередного *@
                            </div> @* конец второго блока c li эллементами *@

                        </li> @* конец первого li *@

                    </ul>@* конец главныого ul *@

                </nav>@* конец сайдбара *@

            </div> @*  просто  конец дива очередного *@

        </div>@*  просто  конец дива очередного *@

    </div>@*  просто  конец дива очередного *@

</div> @* начало всего сайдбара *@