@using ReHouse.FrontEnd.Models
@*@model LoadCartModel*@

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Менеджеры", "index", "manager")
    </div>
</div>
<div class="managers">
    <h2>Менеджеры</h2>
    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl1.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>

    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl2.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl2.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl2.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl2.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
    <div class="manager_">
        <div class="img">
            <img src="~/content/images/girl2.png" width="120" height="121">
        </div>
        <div class="contactinfo">
            <h3>Менеджер Татьяна</h3>
            <h3>Специалист по новостройкам</h3>
            <h3>Контакты: тел. 09653246789</h3>
        </div>
        <div class="about_manager">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo conseq magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
        </div>
    </div>
</div>  