@using ReHouse.Utils.Helpers
@using ReHouse.Utils.DataBase.Vacancies;
@model List<Vacancy>
@{
    Layout = "~/Areas/Cabinet/Views/Shared/_Layout.cshtml";
}
@Html.Partial("_navigation", "vacancies")

<div id="adminka2" class="tabset_content">
    <div class="headline">
        <h2>Добавленные вакансии</h2>
        <form method="LINK" action="/cabinet/vacancies/add">
            <button>Добавить вакансию ►</button>
        </form>
    </div>

    @if (!ViewBag.NoElements)
    {

        <div class="added">
            <button onclick="deleteChekedProducts();" class="delete_all">Удалить выбранные</button>
            <table class="added" id="data-container">
                @Html.Partial("Vacancy/_listOfVacancies", Model)
            </table>
        </div>        
    }

</div>
@section scripts {
    @Scripts.Render("~/bundles/deleteVacancies")

}