@using ReHouse.FrontEnd.Models
@model LoadCartModel

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Избранное", "index", "cart")
    </div>
</div>
<div class="h2novostroy"><h2>Избранные объявления</h2></div>

@if (!ViewBag.NoElements)
{
    <div class="products">
        <ul class="prods" id="data-container">

            @Html.Partial("Cart/_listOfAdverts", Model.Adverts);  
                      
        </ul>
        <div id="button-more">
            <a id="more">Больше объявлений</a>
        </div>
    </div>
    <div id="loading-div">

    </div>
}
