@using ITFamily.FrontEnd.Helpers
@using ITFamily.FrontEnd.Models
@model dynamic

@{
    Layout = "../Shared/_Layout.cshtml";
}


<div class="nothing-found">

    <h3 class="errorFound">
        На данный момент, такая страница отсуствует, или вы ввели неправильный путь!!!
    </h3>
    <h4>
        @Html.HtmlText("<br/> Ошибка 404. <br/> <b> С ув. команда Itfamily.</b>")
    </h4>
</div>