@{
    Layout = "../Shared/_Layout.cshtml";
}


<div class="nothing-found">

    <h3 class="errorFound">
        Сервис на данный момент не доступен.
    </h3>
    <h4>
        @Html.HtmlText("Ошибка 503. <br/>Приносим свои извинения за причиненный неудобства.<br/> С ув. команда Itfamily.</b>")
    </h4>
</div>