<div class="carousel-block" style="width: 100%; height: 200px;overflow: hidden; margin-top: 10px;">


    <div class="carousel" data-slick='{"slidesToShow": 1, "slidesToScroll": 1}'>
      <div>
            <div class="carousel-info">
                Более<br> <span class="text-green">20 000 товаров</span> <br> для всей семьи
            </div>

        </div>
        <div>
            <div class="carousel-info">
                Более<br> <span class="text-green">20 000 товаров</span> <br> для всей семьи
            </div>

        </div>
        <div>
            <div class="carousel-info">
                Более<br> <span class="text-green">20 000 товаров</span> <br> для всей семьи
            </div>

        </div>
    </div>
</div>