<div class="index-textpage" style="margin-right: 53px;">
    
    <div class="line-h">Добро пожаловать на наш первый семейный многопрофильный интернет магазин!</div>

    <div class="simple-text">
        Вас интересует бытовая техника, компьюетры, софт или товары для активного отдыха? Все это вы можете купить прямо сейчас, сэкономив кучу времени!
    </div>
    <div class="simple-text">
        Интернет-магазин с радостью поможет вам избежать неоюходимости посещять десятка магазинов. Вы можете заказать любой товар, не вставая со своего кресла, а наш куьер
        вовремя доставит покупку по указанному адресу.<br/>
        Интернет магазин действует на територии всей страны. Жители любых городов могут без лишних хлопот посетить наш сайт интернет-магазин.
    </div>
    <div class="simple-text">

        Вне зависимости от того, где вы находитесь на данный момент, вы сможете заказать товар, что соглавитесь очень удобно.

    </div>
    <div class="simple-text">
        Какие же преимущества предлагает наш интернет-магазин электроники, телефонов и прочих товаров?
    </div>
    <div class="simple-text">
        Наиболее существенный факт - наличие тысяч позиций, которые гарантировано имеются на складе
    </div>
    <a class="index-client-link" href="#index-client">Читать полностью >></a>
</div>
