@using ReHouse.Utils.DataBase.Feedback
@model List<UserFeedback>

@section Scripts {
    <script>
        var feedbackPage = 2,
        buttonId = "#button-more",
        loadingId = "#loading-div",
        container = "#data-container";

        function load() {

            var obj = {
                "PageNumber": feedbackPage
            }

            var json = JSON.stringify(obj);
            $(buttonId).hide();
            $(loadingId).show();

            $.ajax({
                url: '/feedback/load',
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                data: json,
                success: function (response) {
                    if (response.noElements) {
                        $(buttonId).fadeOut();
                        $(loadingId).hide();
                        if (feedbackPage == 1) {
                            $('#data-container').html("На данный момент отзывов нет");
                        }
                        return;
                    }
                    appendContent(response);
                },
                error: function (response) {
                    $(loadingId).hide();
                    $("<span>Извините, при обработке запроса произошла ошибка. Пожалуйста обновите страницу</span>").appendTo($(container));
                }
            });
        };

        var appendContent = function (response) {
            var id = $(buttonId);

            $(buttonId).show();
            $(loadingId).hide();

            $(response).appendTo($(container));
            feedbackPage += 1;
        };
    </script>
}

<div class="navigation_string">
    <div class="way">
        @Html.ActionLink("Главная", "index", "home")
        <pre> </pre>
        <p>/</p>
        <pre> </pre>
        @Html.ActionLink("Отзывы", "index", "feedback")
    </div>
</div>
<div class="news1">
    <h2>Отзывы</h2>
    <div id="data-container">
        @Html.Partial("Feedback/_listOfFeedbacks", Model)
    </div> 


    <div class="morenews1" id="button-more" onclick="">
        <a onclick="load();" id="more">Больше отзывов</a>
    </div>
    <div id="loading-div">
    </div>
</div>
